:root {
  --main-bg-color: #ffff;
  --banner-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --action-color: #2196f3;
  --section-title-color: #212121;
  --common-text-color: #757575;

  --card-set-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: var(--main-bg-color);
  color: var(--common-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
li {
  list-style-type: none;
}
a,
address {
  text-decoration: none;
}

/* CONTAINER */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

/*=========TITLE=============*/
/* H1 */
h1 {
  font-weight: 900;
  font-size: 44px;
  color: #ffff;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
}
/* H2 */
.sub-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--section-title-color);
}
/* H3 */
h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--section-title-color);
}
.flex-cont {
  display: flex;
  align-items: center;
}
/* LOGO */
.logo {
  display: inline-block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}
/*====HEADER=========*/
.header {
  border-bottom: 1px solid #ececec;
}
.header__logo span {
  color: #000;
  margin-right: 93px;
}
.menu__list {
  display: flex;
}
.menu__list li {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #000;
  cursor: pointer;
}
.menu__link {
  display: block;
  padding: 31px 0;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #000;
  cursor: pointer;
}
.menu__link.active {
  color: var(--action-color);
}
.menu__link:hover {
  color: var(--action-color);
}

.menu__list li + li {
  margin-left: 50px;
}

.header__contacts {
  display: flex;
  margin-left: auto;
}
.header__contacts li + li {
  margin-left: 50px;
}
.header__contacts li {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.header__contacts li > a {
  margin-left: 10px;
}
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000;
}
.contacts__link a {
  margin-left: 10px;
}
.header__contacts li:hover a {
  color: var(--action-color);
}
.header__contacts li:hover svg {
  fill: var(--action-color);
}
.icon {
  fill: #757575;
}
/*=========BANNER===========*/
.banner {
  background-color: var(--banner-bg-color);
  padding: 179px 0;
  text-align: center;
}
.banner h1 {
  padding: 0 23%;
}
.banner button {
  width: 200px;
  height: 50px;
  margin: 30px 0 0 0;
  text-align: center;
  background: var(--action-color);
  color: #ffff;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border: inherit;
}
/*=========RESPONS===========*/
.respons__list {
  display: flex;

  /*   margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap)); */
}
.respons__list li + li {
  margin-left: 30px;
}
.respons__item {
  padding-right: 20px;
  /*   flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap); */
}

.respons__item h3 {
  text-align: left;
}
.respons__item p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--common-text-color);
  text-align: left;
  padding: 0 5px 0 0;
}
/*=========TASKS===========*/
.tasks__list {
  display: flex;
  justify-content: space-around;
}
/*=========TEAM===========*/
.team__list {
  display: flex;
  justify-content: space-around;
}
.team__item {
  max-width: calc(100% / 4 - var(--card-set-gap));
  background-color: #ffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item p:first-of-type {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #212121;
}
.team__item p:last-of-type {
  text-align: center;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--common-text-color);
}
/*=========FOOTER===========*/
.footer {
  background-color: var(--footer-bg-color);
}
.footer__logo {
  margin: 60px 0 20px 15px;
}
.footer__logo span {
  color: #ffff;
}
.footer_row {
  display: flex;
}
.footer__contacts {
  font-style: normal;
  padding: 0 0 60px 0;
  margin-right: 86px;
}
.f-contacts__list {
  margin: 0 0 0 15px;
  padding: 0;
}
.f-contacts__list li {
  display: block;
  margin: 0 0 9px 0;
}
.f-contacts__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.f-contacts__list li:first-child .f-contacts__link {
  color: #ffff;
}
.f-contacts__list li:first-child .f-contacts__link:hover {
  color: var(--action-color);
}
.f-contacts__link:hover {
  color: var(--action-color);
}
.f-social__list {
  display: flex;
}
.f-social__title {
  color: #ffff;
  margin-bottom: 20px;
}
.icon {
  display: block;
  max-width: 100%;
  height: auto;
}
.f-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.f-social__list li + li {
  margin-left: 10px;
}
.f-social__list li:hover svg {
  fill: #ffff;
}
.f-social__list li:hover {
  background-color: var(--action-color);
}

/* PORTFOLIO */
.portfolio__list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.portfolio__list > .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
.item__card {
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
}
.card-content {
  padding: 15px;
}
.card-text {
  margin-top: 10px;
}
.portfolio__filter {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}
.portfolio__filter li + li {
  margin-left: 8px;
}
.filter__btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border: inherit;
}
.filter__btn.active {
  background: var(--action-color);
  color: #ffff;
}
.filter__btn:hover {
  background: var(--action-color);
  color: #ffff;
}

.item__content {
  padding: 20px 24px;
}

.item__group {
  margin-top: 4px;
}
